In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [5]:
df = pd.read_csv('world-data-2023.csv')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Country                                    195 non-null    object
 1   Density(P/Km2)                             195 non-null    object
 2   Abbreviation                               188 non-null    object
 3   Agricultural Land( %)                      195 non-null    object
 4   Land Area(Km2)                             194 non-null    object
 5   Armed Forces size                          171 non-null    object
 6   Birth Rate                                 189 non-null    float64
 7   Calling Code                               195 non-null    object
 8   Capital/Major City                         192 non-null    object
 9   Co2-Emissions                              188 non-null    object
 10  CPI                                        178 non-null    object
 11  CPI Change (%)                             179 non-null    object
 12  Currency-Code                              180 non-null    object
 13  Fertility Rate                             188 non-null    float64
 14  Forested Area (%)                          188 non-null    object
 15  Gasoline Price                             175 non-null    object
 16  GDP                                        193 non-null    object
 17  Gross primary education enrollment (%)     188 non-null    object
 18  Gross tertiary education enrollment (%)    183 non-null    object
 19  Infant mortality                           189 non-null    float64
 20  Largest city                               189 non-null    object
 21  Life expectancy                            187 non-null    float64
 22  Maternal mortality ratio                   181 non-null    float64
 23  Minimum wage                               150 non-null    object
 24  Official language                          190 non-null    object
 25  Out of pocket health expenditure           188 non-null    object
 26  Physicians per thousand                    188 non-null    float64
 27  Population                                 194 non-null    object
 28  Population: Labor force participation (%)  176 non-null    object
 29  Tax revenue (%)                            169 non-null    object
 30  Total tax rate                             183 non-null    object
 31  Unemployment rate                          176 non-null    object
 32  Urban_population                           190 non-null    object
 33  Latitude                                   195 non-null    object
 34  Longitude                                  195 non-null    object
dtypes: float64(6), object(29)
memory usage: 53.4+ KB

In [ ]:
columns_to_str = ['Latitude', 'Longitude', 'Calling Code']

for column in columns_to_str:
    df[column] = df[column].astype(str)

column_to_float =[ 'Density\n(P/km2)', 'Agricultural Land( %)','Land Area(Km2)',
                 'Birth Rate', 'Co2-Emissions', 'Forested Area (%)',
                 'CPI', 'CPI Change (%)', 'Fertility Rate', 'Gasoline Price','GDP',
                 'Gross primary education enrollment (%)', "Armed Forces size",
                 'Gross tertiary education enrollment (%)', 'Infant mortality',
                 'Life expectancy', 'Maternal mortality ratio','Minimum wage', 
                 'Out of pocket health expenditure','Physicians per thousand', 
                 'Population','Population: Labor force participation (%)', 
                 'Tax revenue (%)','Total tax rate', 'Unemployment rate', 'Urban_population']


for column in column_to_float:
    df[column]=df[column].astype(str)
    df[column]=df[column].str.replace(",","")
    df[column]=df[column].str.replace("$","")
    df[column]=df[column][column].str.replace("%","").astype(float)

In [20]:
df.shape

(195, 35)

In [22]:
missing_values = df.isna().sum()
missing_values

Country                                       0
Density(P/Km2)                                0
Abbreviation                                  7
Agricultural Land( %)                         0
Land Area(Km2)                                1
Armed Forces size                            24
Birth Rate                                    6
Calling Code                                  0
Capital/Major City                            3
Co2-Emissions                                 7
CPI                                          17
CPI Change (%)                               16
Currency-Code                                15
Fertility Rate                                7
Forested Area (%)                             7
Gasoline Price                               20
GDP                                           2
Gross primary education enrollment (%)        7
Gross tertiary education enrollment (%)      12
Infant mortality                              6
Largest city                                  6
Life expectancy                               8
Maternal mortality ratio                     14
Minimum wage                                 45
Official language                             5
Out of pocket health expenditure              7
Physicians per thousand                       7
Population                                    1
Population: Labor force participation (%)    19
Tax revenue (%)                              26
Total tax rate                               12
Unemployment rate                            19
Urban_population                              5
Latitude                                      0
Longitude                                     0
dtype: int64

In [23]:
missing_abbr = df.loc[df["Abbreviation"].isnull(), 'Country']
missing_abbr

39              Republic of the Congo
56                           Eswatini
73                       Vatican City
81                Republic of Ireland
119                           Namibia
128                   North Macedonia
133    Palestinian National Authority
Name: Country, dtype: object

In [24]:
missing_lang = df.loc[df["Official language"].isnull(), 'Country']
missing_lang

8          Australia
85             Japan
110           Mexico
150     S�����������
186    United States
Name: Country, dtype: object

In [27]:
df.iloc[8, 0] = ' Australia'
df.iloc[8,24] = 'English'
df.iloc[85, 0] = ' Japan'
df.iloc[85,24] = 'Japanese'
df.iloc[110, 0] = ' Mexico'
df.iloc[110,24] = 'Spanish'
df.iloc[186, 0] = ' United States'
df.iloc[186,24] = 'English'
df.iloc[150, 0] = 'Sao Tome and Principe'
df.iloc[150,24] = 'Portuguese'

In [ ]:

df.iloc[8]
df.iloc[85] 
df.iloc[110] 
df.iloc[186] 
df.iloc[150]

In [ ]:
df.iloc[150, 0] = 'Sao Tome and Principe'
df.iloc[150,24] = 'Portuguese'

In [35]:
df = df.loc[df['Co2-Emissions'].isnull(), 'Country']
print(df)

56                           Eswatini
73                       Vatican City
113                            Monaco
120                             Nauru
128                   North Macedonia
133    Palestinian National Authority
149                        San Marino
Name: Country, dtype: object

In [41]:
if df.duplicated().any():
    print("There are duplicated values in countries_2023 DataFrame.")
else:
    print("There are no duplicated values in countries_2023 DataFrame.")

There are no duplicated values in countries_2023 DataFrame.